<div class="bg-white pad15 font25">
  All Region
</div>
<div class="pad15">
  <div class="breadcrumb">
    Home / All Region / Add New Worker
  </div>

  <div class="panel panel-white">
    <div class="panel-heading clearfix">
      <div class="panel-title">
        Add New Worker
      </div>
    </div>
    <div class="panel-body clearfix">
      <div class="col-sm-12 col-md-12 col-lg-12 pad0">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">  
            <label class="font12">Name</label>
            <%= f.text_field :name, :required => true, :class => "form-control", :placeholder=>"Enter Name" %>
          </div>

          <div class="form-group">  
            <label class="font12">Photo</label>
            <%= f.file_field :photo %>
          </div>

          <div class="form-group">
            <label class="font12">Select State</label>
            <%= f.collection_select :state_id, State.all , :id, :name, {}, {:class => "form-control", :style => ""}%>
          </div>
          <div class="form-group">
            <label class="font12">Select Region</label>
            <select class="form-control" name="worker[region_id]" id="worker_region_id" <%= 'data-region-present=true' if @worker.region_id.present? %>>
              <%= Region.includes(:state).each do |r| %>
                <option value="<%= r.id %>" <%= 'selected=selected' if @worker.region_id == r.id %> state-id="<%= r.state.id %>"><%= r.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label class="font12">Select Industry</label>
            <%= f.collection_select :industry_id, Industry.all , :id, :name, {}, {:class => "form-control", :style => ""}%>
          </div>
          <div class="form-group">
            <label class="font12">Select Sub-Industry</label>
            <select class="form-control" name="worker[sub_industry_id]" id="worker_sub_industry_id" <%= 'data-subIndustry-present=true' if @worker.sub_industry_id.present? %>>
              <%= SubIndustry.includes(:industry).each do |s| %>
                <option value="<%= s.id %>" <%= 'selected=selected' if @worker.sub_industry_id == s.id %> industry-id="<%= s.industry.id %>" ><%= s.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group clearfix">
            <label class="font12">Date Of Birth</label>
            <div>
              <%= f.date_select :dob, {order: [:day, :month, :year],  start_year: Date.today.year - 100, end_year: Date.today.year - 8, default: -18.years.from_now}, {:class => 'form-control left gutter-right10', required: true, :style => 'width:100px;'} %>
            </div>
          </div>
          <div class="form-group">
            <label class="font12">Select Gender</label>
            <%= f.select :gender, [['Male', 'male'], ['Female', 'female']], {}, {:class=>'form-control'} %>
          </div>
          <div class="form-group">
            <label class="font12">Address</label>
            <%= f.text_area :address, :rows => 4, :cols => 100, :class => 'form-control', :placeholder=>"Address" %>
          </div>
          <div class="form-group">
            <label class="font12">Email</label>
            <%= f.text_field :email, :required => true, :class => "form-control", :placeholder=>"Email" %>
          </div>

          <div class="form-group">
            <label class="font12">Verified Email</label>
            <%= f.select :verified_email, [['Yes', true], ['No', false]], {}, {:class=>'form-control'} %>
          </div>

          <div class="form-group">
            <label class="font12">Mobile Number</label>
            <%= f.text_field :mobile_no, :required => true, :class => "form-control", :placeholder=>"Mobile Number" %>
          </div>

          <div class="form-group">
            <label class="font12">Verified Mobile No</label>
            <%= f.select :verified_mobile_no, [['Yes', true], ['No', false]], {}, {:class=>'form-control'} %>
          </div>

          <div class="form-group">
            <label class="font12">BR ratings(Out Of 5)</label>
            <%= f.text_field :br_ratings, :class => "form-control", :placeholder=>"Br Ratings" %>
          </div>

          <div class="form-group">
            <label class="font12">Proof docs</label>
            <%= f.select :proof_docs, [['PAN Card', 'PAN Card'], ['Passport', 'Passport'],['VoterID', 'VoterID'], ['Adhaar Card', 'Adhaar Card']], {}, {:class=>'form-control'} %>
          </div>

          <div class="form-group">  
            <label class="font12">Proof docs Photo</label>
            <%= f.file_field :photo_id_proof %>
          </div>

          <div class="form-group">
            <label class="font12">Language Read</label>
            <%= f.select(:languages_read, [['Hindi', 'hindi'],
                                    ['Marathi', 'marathi'],
                                    ['English', 'english']
                                   ],{},
                                     { :multiple => true, :size => 3, :class=>'form-control'}
                                   ) %>
          </div>

          <div class="form-group">
            <label class="font12">Language Write</label>
            <%= f.select(:languages_write, [['Hindi', 'hindi'],
                                    ['Marathi', 'marathi'],
                                    ['English', 'english']
                                   ],{},
                                     { :multiple => true, :size => 3, :class=>'form-control'}
                                   ) %>
          </div>

          <div class="form-group">
            <label class="font12">Language Speak</label>
            <%= f.select(:languages_speak, [['Hindi', 'hindi'],
                                    ['Marathi', 'marathi'],
                                    ['English', 'english']
                                   ],{},
                                     { :multiple => true, :size => 3, :class=>'form-control'}
                                   ) %>
          </div>
          <div class="form-group">
            <label class="font12">Education</label>
            <%= f.text_field :education, :class => "form-control", :placeholder=>"Education" %>
          </div>
          <div class="form-group">
            <label class="font12">Special Couse</label>
            <%= f.text_field :special_course, :class => "form-control", :placeholder=>"Special Couse" %>
          </div>
          <div class="form-group">
            <label class="font12">College Name & Address</label>
            <%= f.text_area :college, :rows => 4, :cols => 100, :class => 'form-control', :placeholder=>"College Name & Address" %>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="font12">Address Proof documents</label>
            <%= f.select :address_proof_docs, [['PAN Card', 'PAN Card'], ['Passport', 'Passport'],['VoterID', 'VoterID'], ['Adhaar Card', 'Adhaar Card']], {}, {:class=>'form-control'} %>
          </div>

          <div class="form-group">  
            <label class="font12">Address Proof Photo</label>
            <%= f.file_field :address_proof_photo %>
          </div>

          <div class="form-group">
            <label class="font12">Skills</label>
            <%= f.text_field :skills, :class => 'form-control', :placeholder=>"Skills" %>
          </div>
          <div class="form-group">
            <label class="font12">Current Status</label>
            <%= f.text_field :current_status, :class => 'form-control', :placeholder=>"Current Status" %>
          </div>
          <div class="form-group">
            <label class="font12">Year Of Experience</label>
            <%= f.select :years_of_experience, [['0-2 Years', 1], ['2-4 Years', 2],['4-6 Years', 3], ['6-8 Years', 4]], {}, {:class=>'form-control'} %>
          </div>
          <div class="form-group">
            <label class="font12">Years Of Experience In Words</label>
            <%= f.text_field :years_of_experience_in_words, :class => 'form-control', :placeholder=>"Years Of Experience In Words" %>
          </div>
          <div class="form-group">
            <label class="font12">Job Title</label>
            <%= f.text_field :job_title, :class => 'form-control', :placeholder=>"Job Title" %>
          </div>
          <div class="form-group">
            <label class="font12">Job Location</label>
            <%= f.text_field :location_of_job, :class => 'form-control', :placeholder=>"Job Location" %>
          </div>
          <div class="form-group">
            <label class="font12">Specialized Skills</label>
            <%= f.text_field :specialized_skill, :class => 'form-control', :placeholder=>"Specialized Skills" %>
          </div>
          <div class="form-group">
            <label class="font12">Job Description</label>
            <%= f.text_area :job_description, :rows => 4, :cols => 100, :class => 'form-control', :placeholder=>"Job Description" %>
          </div>
          <div class="form-group">
            <label class="font12">Member of any labor union </label>
            <%= f.text_area :member_of_any_labor_union, :rows => 4, :cols => 100, :class => 'form-control', :placeholder=>"Member of any labor union" %>
          </div>

          <div class="form-group">
            <label class="font12">Ready To Join</label>
            <div>
              <%= f.radio_button :ready_to_join, '1' %> 
              <%= label :ready_to_join, 'not looking actively for job' %>
            </div>
            <div>
              <%= f.radio_button :ready_to_join, '2' %>
              <%= label :ready_to_join, 'need to switch if good offer is made.' %>
            </div>
            <div>
              <%= f.radio_button :ready_to_join, '3' %>
              <%= label :ready_to_join, 'very actively searching' %>
            </div>
          </div>

          <div class="form-group">
            <label class="font12">Willing to Relocate</label><br>
              <%= f.radio_button :willing_to_relocate, 'yes' %> 
              <%= label :willing_to_relocate, 'YES' %>
              <%= f.radio_button :willing_to_relocate, 'no' %>
              <%= label :willing_to_relocate, 'NO' %>
          </div>

          <div class="form-group">
            <label class="font12">Willing To Travel</label><br>
              <%= f.radio_button :willing_to_travel, '25' %> 
              <%= label :willing_to_travel, '25%' %>
              <%= f.radio_button :willing_to_travel, '50' %>
              <%= label :willing_to_travel, '50%' %>
              <%= f.radio_button :willing_to_travel, '75' %>
              <%= label :willing_to_travel, '75%' %>
          </div>


          <div class="form-group">
            <label class="font12">Keywords</label>
            <%= f.text_area :key_words, :rows => 4, :cols => 100, :class => 'form-control', :placeholder=>"Keywords" %>
          </div>
          <div class="form-group">
            <label class="font12">Previous Salary</label>
            <%= f.text_field :previous_salary, :class => 'form-control', :placeholder=>"Previous Salary" %>
          </div>
          <div class="form-group">
            <label class="font12">Supervisors Reference</label>
            <%= f.text_area :supervisors_reference, :rows => 4, :cols => 100, :class => 'form-control', :placeholder=>"Keywords" %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <%= f.submit "Save", :class => "btn btn-primary" %>
          <%= link_to admin_industries_path do %>
            <span class ="btn btn-warning">Cancel</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
