<%= link_to "All States", admin_states_path %>
<%= link_to "All Region", admin_regions_path %>
<%= link_to "All Industry", admin_industries_path %>
<%= link_to "All Sub Industry", admin_sub_industries_path %>
<%= link_to "Workers", admin_workers_path %>

<p>
  <button class="btn btn-large btn-primary" type="button">Large button</button>
  <button class="btn btn-large" type="button">Large button</button>
</p>