<div class="bg-white pad15 font25">
  All Sub Industries
</div>
<div class="pad15">
  <div class="breadcrumb">
    Home / All Sub Industries
  </div>
  <div class="panel panel-white">
    <div class="panel-heading clearfix">
      <div class="col-sm-6 col-md-6 col-lg-6 pad0 panel-title">
        Listing Sub Industries
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 pad0 right">
        <%= link_to '+ Add New Sub Industry', new_admin_sub_industry_path, :class=>"btn btn-info" %>
      </div>
    </div>

    <div class="panel-body clearfix">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Industry</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @sub_industries.each do |sub_industry| %>
              <tr>
                <td><%= sub_industry.name %></td>
                <td><%= sub_industry.industry.name %></td>
                <td>
                  <%= link_to 'Show', admin_sub_industry_path(sub_industry), :class => "label label-sm label-success" %>
                  <%= link_to 'Edit', edit_admin_sub_industry_path(sub_industry), :class => "label label-sm label-warning" %>
                  <%= link_to 'Destroy', admin_sub_industry_path(sub_industry), :class => "label label-sm label-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>