<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
    <h2 class="color-yellow font25">Search Results</h2>
    <% @workers.each do |w| %>
      <%= link_to w do %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pad10 gb20">
          <div class="search-result-block clearfix">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="font18 center gb10"><%= w.name %></div>
              <div class="user-profile-container">
                <%= image_tag w.get_profile_photo, :class=>"user-profile" %>
              </div>
              <div class="clearfix brd-bottom">
                <div class="pad-tb5 font13 bold">General Information</div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  Age: 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  <%= w.get_age %>
                </div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  Gender: 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  <%= w.gender %>
                </div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  Location: 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  <%= w.location_of_job %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 profile-desc">
               <div class="clearfix brd-bottom">
                <div class="pad-tb5 font13 bold">Additional Information</div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  Position: 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  <%= w.job_title %>
                </div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  Experience: 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  <%= w.years_of_experience_in_words %>
                </div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  Willing To Relocate: 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  <%= w.willing_to_relocate%>
                </div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  Willing To Travel: 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  <%= w.willing_to_travel %>
                </div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  BRID: 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  <%= w.br_id %>
                </div>
              </div>
              <div class="clearfix brd-bottom">
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  BR Ratings:
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  <%= w.br_ratings %>
                </div>
              </div>
              <div class="clearfix brd-bottom gb10">
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 pad0">
                  BR Verified Profile:
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 pad0">
                  <%= w.br_ratings.present? ? 'Yes' : 'NO' %>
                </div>
              </div>

              <table class="table table-bordered font13">
                <tr>
                  <td>languages</td><td>Hindi</td><td>Marathi</td><td>English</td>
                </tr>
                <tr>
                  <td>Read</td>
                  <td><%= w.languages_read.include?('hindi') ? 'Yes' : 'No' %></td>
                  <td><%= w.languages_read.include?('marathi') ? 'Yes' : 'No' %></td>
                  <td><%= w.languages_read.include?('english') ? 'Yes' : 'No' %></td>
                </tr>
                <tr>
                  <td>Write</td>
                  <td><%= w.languages_write.include?('hindi') ? 'Yes' : 'No' %></td>
                  <td><%= w.languages_write.include?('marathi') ? 'Yes' : 'No' %></td>
                  <td><%= w.languages_write.include?('english') ? 'Yes' : 'No' %></td>
                </tr>
                <tr>
                  <td>Speak</td>
                  <td><%= w.languages_speak.include?('hindi') ? 'Yes' : 'No' %></td>
                  <td><%= w.languages_speak.include?('marathi') ? 'Yes' : 'No' %></td>
                  <td><%= w.languages_speak.include?('english') ? 'Yes' : 'No' %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>