<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
  <h2 class="color-yellow font25">Search Results</h2>
  <% @workers.each do |w| %>
    <%= link_to w do %>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pad10">
        <div class="search-result-block clearfix">
          <div class="left">
            <%= image_tag w.get_profile_photo, :class=>"user-profile" %>
          </div>
          <div class="left profile-desc">
            <div class="font18"><%= w.name %> <%= w.get_age %>  <%= w.gender %></div>
            <div class="font12"> Position: <%= w.job_title %></div>
            <div class="font12"> Total Work Experience: <%= w.years_of_experience_in_words %></div>

            <table border="1">
              <tr>
                <td>languages</td><td>Hindi</td><td>Marathi</td><td>English</td>
              </tr>
              <tr>
                <td>Read</td>
                <td><%= w.languages_read.include?('hindi') ? 'Yes' : 'No' %></td>
                <td><%= w.languages_read.include?('marathi') ? 'Yes' : 'No' %></td>
                <td><%= w.languages_read.include?('english') ? 'Yes' : 'No' %></td>
              </tr>
              <tr>
                <td>Write</td>
                <td><%= w.languages_write.include?('hindi') ? 'Yes' : 'No' %></td>
                <td><%= w.languages_write.include?('marathi') ? 'Yes' : 'No' %></td>
                <td><%= w.languages_write.include?('english') ? 'Yes' : 'No' %></td>
              </tr>
              <tr>
                <td>Speak</td>
                <td><%= w.languages_speak.include?('hindi') ? 'Yes' : 'No' %></td>
                <td><%= w.languages_speak.include?('marathi') ? 'Yes' : 'No' %></td>
                <td><%= w.languages_speak.include?('english') ? 'Yes' : 'No' %></td>
              </tr>
            </table>

            <div class="font12"> Current Location: <%= w.location_of_job %></div>
            <div class="font12"> Willing To Relocate <%= w.willing_to_relocate%></div>
            <div class="font12"> Willing To Travel <%= w.willing_to_travel %></div>
            <div class="font12"> BRID <%= w.br_id %></div>
            <div class="font12"> BR Ratings <%= w.br_ratings %></div>
            <div class="font12"> BR Verified Profile <%= w.br_ratings.present? ? 'Yes' : 'NO' %></div>

          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
