<br><Br>
<div class="pad15">
  <div class="breadcrumb">
    Home
  </div>

  <div class="panel panel-white">
    <div class="panel-heading clearfix">
      <div class="panel-title">
        Home
      </div>
    </div>
    <div class="panel-body clearfix">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <%= form_tag("/workers", method: "get") do %>
          <div class="form-group">
            <label class="font12">Select State</label>
            <%= select_tag :state_id, options_from_collection_for_select(State.all, :id, :name), {:id => 'worker_state_id', :class => "form-control", :style => ""} %>
          </div>

          <div class="form-group">
            <label class="font12">Select Region</label>
            <select class="form-control" name="worker[region_id]" id="worker_region_id">
              <%= Region.includes(:state).each do |r| %>
                <option value="<%= r.id %>" state-id="<%= r.state.id %>"><%= r.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="font12">Select Industry</label>
            <%= select_tag :industry_id, options_from_collection_for_select(Industry.all, :id, :name), {:id => 'worker_industry_id', :class => "form-control", :style => ""} %>
          </div>

          <div class="form-group">
            <label class="font12">Select Sub-Industry</label>
            <select class="form-control" name="worker[sub_industry_id]" id="worker_sub_industry_id">
              <%= SubIndustry.includes(:industry).each do |s| %>
                <option value="<%= s.id %>" industry-id="<%= s.industry.id %>" ><%= s.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label class="font12">Year Of Experienceform-control</label>
            <%= select_tag :years_of_experience, options_for_select([['2-4 years', 1], ['4-6 years', 2], ['6-8 years', 3]]), {:class => "form-control", :style => ""} %>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <%= submit_tag("Search") %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>