<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2 class="color-yellow font25">Search</h2>          
    <div class="panel-body clearfix">
      <%= form_tag("/workers", method: "get") do %>
        <div class="form-group">
          <label class="font12">Select State</label>
          <%= select_tag :state_id, options_from_collection_for_select(State.all, :id, :name), {:class => "form-control no-shadow no-border-radius", :style => ""} %>
        </div>
        <div class="form-group">
          <label class="font12">Select Region</label>
          <%= select_tag :region_id, options_from_collection_for_select(Region.all, :id, :name), {:class => "form-control no-shadow no-border-radius", :style => ""} %>
        </div>
        <div class="form-group">
          <label class="font12">Select Industry</label>
          <%= select_tag :industry_id, options_from_collection_for_select(Industry.all, :id, :name), {:class => "form-control no-shadow no-border-radius", :style => ""} %>
        </div>
        <div class="form-group">
          <label class="font12">Select Sub Industry</label>
          <%= select_tag :sub_industry_id, options_from_collection_for_select(SubIndustry.all, :id, :name), {:class => "form-control no-shadow no-border-radius", :style => ""} %>
        </div>
        <div class="form-group">
          <label class="font12">Year Of Experienceform-control</label>
          <%= select_tag :years_of_experience, options_for_select([['2-4 years', 1], ['4-6 years', 2], ['6-8 years', 3]]), {:class => "form-control no-shadow no-border-radius", :style => ""} %>
        </div>
        <div class="form-group">
          <%= submit_tag("Search") %>
        </div>
      <% end %>
    </div>
  </div>
</div>