<div class="pad10">
  <div class="search-result-block gb10">
    <div class="font25 gb10">Contact Details & References</div>
    <div class="clearfix">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="clearfix brd-bottom pad-tb5 hover-bg">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
            Mobile: 
          </div>
          <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
            <%= @worker.mobile_no %>
          </div>
        </div>
        <div class="clearfix brd-bottom pad-tb5 hover-bg">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
            Email Id: 
          </div>
          <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
            <%= @worker.email %>
          </div>
        </div>
        <div class="clearfix pad-tb5 hover-bg">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
            Id Proof: 
          </div>
          <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
            <%= @worker.proof_docs %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="clearfix pad-tb5 hover-bg bold">
          Reference - 1:
        </div>
        <div class="clearfix brd-bottom pad-tb5 hover-bg">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
            Name: 
          </div>
          <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
            <%= @worker.references && @worker.references[0] && @worker.references[0].name %>
          </div>
        </div>
        <div class="clearfix pad-tb5 hover-bg">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
            Mobile: 
          </div>
          <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
            <%= @worker.references && @worker.references[0] && @worker.references[0].mobile_no %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="clearfix pad-tb5 hover-bg bold">
          Reference - 2:
        </div>
        <div class="clearfix brd-bottom pad-tb5 hover-bg">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
            Name: 
          </div>
          <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
            <%= @worker.references && @worker.references[1] && @worker.references[1].name %>
          </div>
        </div>
        <div class="clearfix pad-tb5 hover-bg">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
            Mobile: 
          </div>
          <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
            <%= @worker.references && @worker.references[1] && @worker.references[1].mobile_no %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>